{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}
	<div
		class="container-xxl px-2">

		{# Breadcumbs #}
		<nav class='d-none d-md-block' aria-label="breadcrumb">
			<ol class="breadcrumb my-2">
				<li class="breadcrumb-item">
					<a class='p-2' href="{{path('app_home')}}">
						<span class="material-symbols-outlined">
							home
						</span>
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current='page'>Votre panier</li>
			</ol>
		</nav>

		<h1 class='my-2 fw-normal'>Votre Panier</h1>

		<div class="row gx-4">
			<div class="col-md-8 order-1">
				<div class="d-flex flex-column gap-2">
					{% if cart is empty %}
						<h2 class='fw-normal'>Vous avez aucun produit dans votre panier</h2>
					{% else %}
						{% for item in cart %}
							{% if item.product.stock == 0 %}
								<div class="p-2 border border-danger rounded-4 bg-danger-subtle text-center">
									<p class='mb-1 text-danger'>Un ou plusieurs produits du panier est actuellement pas en stock. Celui-ci vous sera envoyé dès son retour en stock.
									</p>
									<p class='text-danger m-0'>La facturation des produits est réalisée lors de l'éxpédition.</p>
								</div>
							{% endif %}
						{% endfor %}
						{% for item in cart %}
							<div class="d-flex gap-2 border border-primary rounded-4 p-2 bg-light">
								<div class="col-4 col-md-2 d-flex align-items-center">
									<a href="{{path('app_product_show', {'url': item.product.url})}}">
										<img class='img-fluid' src="https://thumbs.static-thomann.de/thumb/padthumb600x600/pics/bdb/561026/18011037_800.jpg" alt="">
									</a>
								</div>
								<div class="col d-flex flex-column justify-content-between">
									<div>
										<a href={{path('app_product_show', {'url': item.product.url} )}} class='m-0 fs-5 text-decoration-none'>{{item.product.name}}</a>
										<p class='m-0 fw-light'>Quantité :
											{{item.quantity}}</p>
										{% if item.product.stock > 20 %}
											<small class='text-success m-0'>En stock</small>
										{% elseif item.product.stock < 20 and item.product.stock > 0 %}
											<small class='text-warning m-0'>Plus que
												{{item.product.stock}}
												en stock</small>
										{% elseif item.product.stock == 0 %}
											<small class="text-danger m-0">
												Hors stock
											</small>
										{% endif %}
									</div>
									<div class="d-flex justify-content-between align-items-center">
										<p class='m-0 fw-bold fs-5'>{{item.product.price * item.quantity}}
											€
										</p>
										<form method="post" action="{{ path('app_cart_item_delete', {'id': item.id}) }}" class='text-end'>
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
											<button class="btn text-danger border-0 p-2 pb-0" type='submit'>Supprimer</button>
										</form>
									</div>
								</div>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>

			<div class="col-md-4 order-0 order-md-1 mb-3 m-md-0">
				<div class='border border-primary rounded-4 d-flex flex-column overflow-hidden'>
					<div class="bg-primary text-light text-center d-flex justify-content-center align-items-center p-3">
						<h5 class='m-0'>Votre commande</h5>
					</div>
					<div class="px-3 pb-3 bg-light">
						<ul class='m-0 list-unstyled'>
							{% for item in cart %}
								<li class='fw-light border-bottom py-2'>
									{{item.quantity}}
									x
									{{item.product.name}}
								</li>
							{% endfor %}
						</ul>
						{% if cart %}
							<div class="d-flex justify-content-between elign-items-center py-2">
								<span class='fs-5 fw-bold'>Total :</span>
								<span class='fs-5 fw-bold'>{{total}}
									€</span>
							</div>
							<button class='btn btn-accent col-12 rounded-pill'>Valider la commande</button>
						{% else %}
							<button class='btn btn-secondary col-12 rounded-pill disabled mt-3'>Valider la commande</button>
						{% endif %}
					</div>
				</div>
			</div>

		</div>
	</div>


{% endblock %}
