{% extends 'base.html.twig' %}

{% block title %}
	{{category.name}}
{% endblock %}

{% block body %}
	<div class="container-xxl">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb my-2">
				<li class="breadcrumb-item">
					<a class='fw-medium text-decoration-none' href="{{path('app_home')}}">Village Green</a>
				</li>
				<li class="breadcrumb-item">
					<a class="fw-medium text-decoration-none" href="{{path('app_category_index')}}">Catégorie</a>
				</li>
				{% for link in breadcrumbLinks %}
					<li class="breadcrumb-item">
						<a class='text-decoration-none fw-medium' href="{{path('app_category_show', {'url': link.url})}}">{{link.name}}</a>
					</li>
				{% endfor %}
				<li class="breadcrumb-item active" aria-current='page'>{{category.name}}</li>
			</ol>
		</nav>

		<h1>{{category.name}}</h1>

		<div
			class="d-flex flex-column gap-3">

			{# small device filters #}
			<div>
				<div class="d-md-none row row-cols-2 g-2 mt-2">
					<div class="col m-0">
						<button class="btn btn-outline-primary col-12" type='button' data-bs-toggle='modal' data-bs-target='#modalForm'>Filtres</button>
					</div>
					<div class="col m-0">
						<select class='btn btn-outline-primary col-12 h-100' name="mSort" id="mSort">
							<option value="name_ASC">Alphabétique A-Z</option>
							<option value="name_DESC">Alphabétique Z-A</option>
							<option value="price_ASC">Du - cher au + cher</option>
							<option value="price_DESC">Du + cher au - cher</option>
						</select>
					</div>
				</div>

				{# modalForm #}
				<form class="modal fade" id="modalForm" tabindex='-1' aria-labelledby='modalFormLabel' aria-hidden='true'>
					<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="modalFormLabel">Filtres</h4>
								<button class="btn-close" type='button' data-bs-dismiss='modal' aria-label='Close'></button>
							</div>
							<div class="modal-body p-0">
								<div
									class='border-bottom py-2 px-3'>
									{# Marque #}
									<h5>Marque</h5>
									<ul class="p-0 m-0">
										<li class='form-check d-flex align-items-center gap-2 p-0 m-0'>
											<input class='form-check-input m-0' type="checkbox" name="mMarque1" id="mMarque1">
											<label class='form-check-label flex-fill py-2' for="mMarque1">Marque 1</label>
										</li>
										<li class='form-check d-flex align-items-center gap-2 p-0 m-0'>
											<input class='form-check-input m-0' type="checkbox" name="mMarque2" id="mMarque2">
											<label class='form-check-label flex-fill py-2' for="mMarque2">Marque 2</label>
										</li>
									</ul>
								</div>
								<div
									class='border-bottom py-2 px-3'>
									{# price range #}
									<h5 class='mb-3'>Echelle de prix</h5>
									<ul class='p-0'>
										<li class='d-flex align-items-center gap-2'>
											<input class='form-control' type="text" name="min" id="min" min='0' max='99999'>
											<span>-</span>
											<input class='form-control' type="text" name="max" id="max" min='1' max='99999'>
											<span>€</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="modal-footer justify-content-center border-0">
								<input type='submit' class="btn btn-primary col-12" value='Valider'>
							</div>
						</div>
					</div>
				</form>
			</div>

			{# medium device filters #}
			<div class="d-none d-md-flex align-items-center gap-5">
				<div class="flex-fill d-flex justify-content-between">
					<form class="d-flex gap-2">
						<div class="dropdown">
							<button class="dropdown-toggle btn btn-outline-primary" type='button' data-bs-toggle='dropdown' data-bs-auto-close='outside' aria-expanded='false'>
								Marque
							</button>
							<ul class="dropdown-menu p-2">
								<li class='form-check d-flex align-items-center gap-2 p-0 m-0'>
									<input class='form-check-input m-0' type="checkbox" name="marque1" id="marque1">
									<label class='form-check-label flex-fill py-2' for="marque1">Marque 1</label>
								</li>
							</ul>
						</div>
						<div class="dropdown">
							<button class="dropdown-toggle btn btn-outline-primary" type='button' data-bs-toggle='dropdown' data-bs-auto-close='outside' aria-expanded='false'>
								Echelle de prix
							</button>
							<ul class="dropdown-menu">
								<li class='p-2 d-flex align-items-center gap-2'>
									<input class='form-control' type="text" name="min" id="min" min='0' max='99999'>
									<span>-</span>
									<input class='form-control' type="text" name="max" id="max" min='1' max='99999'>
									<span>€</span>
								</li>
							</ul>
						</div>
						<input class='btn btn-primary' type="submit" value="Filtrer">
						<input class='btn btn-outline-danger' type="reset" value="Réinitialiser">
					</form>
					<div>
						<select name="sort" id="sort" class='h-100 btn btn-outline-primary'>
							<option value="name_ASC">Alphabétique A-Z</option>
							<option value="name_DESC">Alphabétique Z-A</option>
							<option value="price_ASC">Du - cher au + cher</option>
							<option value="price_DESC">Du + cher au - cher</option>
						</select>
					</div>
				</div>
			</div>

			{# products list #}
			<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 g-2">
				{% for product in products %}
					<div class="col">
						<div class="h-100 border p-2 d-flex flex-column justify-content-between gap-2">
							<div>
								<a href="{{path('app_product_show', {'url':product.url})}}">
									<img src="https://www.terredemusique.com/20273-thickbox_default/guitare-electrique-34-eko-s100-noire.jpg" alt="{{product.name}}" class="img-fluid">
								</a>
							</div>
							<div>
								<a class='text-decoration-none' href="{{path('app_product_show', {'url': product.url})}}">{{product.name}}</a>
								<p class='fw-light text-success m-0'>
									<small>En stock</small>
								</p>
							</div>
							<p class='m-0 fw-bold fs-5'>129 €</p>
							<a class='btn btn-accent' href="#">Ajouter au panier</a>
						</div>
					</div>
				{% else %}
					<h2>Aucun produit dans cette catégorie</h2>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
