{% extends 'base.html.twig' %}

{% block title %}
	{{category.name}}
{% endblock %}

{% block body %}
	<div
		class="container-xxl p-0">

		{# breadcrumb #}
		<nav class='d-none d-md-block' aria-label="breadcrumb">
			<ol class="breadcrumb my-2 px-2">
				<li class="breadcrumb-item">
					<a class='fw-medium text-decoration-none' href="{{path('app_home')}}">
						<span class="material-symbols-outlined">
							home
						</span>
					</a>
				</li>
				<li class="breadcrumb-item">
					<a class="fw-medium text-decoration-none" href="{{path('app_category_index')}}">Catégorie</a>
				</li>
				{% for link in breadcrumbLinks %}
					<li class="breadcrumb-item">
						<a class='text-decoration-none fw-medium' href="{{path('app_category_show', {'url': link.url})}}">{{link.name}}</a>
					</li>
				{% endfor %}
				<li class="breadcrumb-item active" aria-current='page'>{{category.name}}</li>
			</ol>
		</nav>

		{# heading #}
		<div class="d-flex align-items-center my-2">
			{% if category.parent is null %}
				<a class='d-flex p-2 text-decoration-none' href='{{path('app_category_index')}}'>
					<span class="material-symbols-outlined fs-1">
						arrow_back
					</span>
				</a>
			{% else %}
				<a class='d-flex p-2 text-decoration-none' href="{{path('app_category_show', {'url': category.parent.url})}}">
					<span class="material-symbols-outlined fs-1">
						arrow_back
					</span>
				</a>
			{% endif %}

			<h1 class='m-0'>{{category.name}}</h1>
		</div>

		<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-2 mt-md-2 px-2">
			{% for childCat in childCategories %}
				<div class="col">
					<div class="text-center h-100 p-2 rounded-4 border border-primary bg-light">
						<a class='text-decoration-none' href="{{path('app_category_show', {'url': childCat.url})}}">
							<img src="https://www.atelierdupiano.fr/3855-large_default/guitare-classique-l%C3%A2g-slim-tn170asce.jpg" alt="{{childCat.name}}" class="img-fluid">
							<h5 class='mt-3 mb-0 fw-normal'>{{childCat.name}}</h5>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
