{% extends 'base.html.twig' %}

{% block title %}
	{{product.name}}
{% endblock %}

{% block body %}
	<div
		class="container-xxl position-relative px-0">

		{# Breadcrumb #}
		<nav class='d-none d-md-block' aria-label="breadcrumb">
			<ol class="breadcrumb my-2 px-2">
				<li class="breadcrumb-item">
					<a class='p-2' href="{{path('app_home')}}">
						<span class="material-symbols-outlined">
							home
						</span>
					</a>
				</li>
				<li class="breadcrumb-item">
					<a class="text-decoration-none fw-medium" href="{{path('app_category_index')}}">Catégorie</a>
				</li>
				{% for link in breadcrumbLinks %}
					<li class="breadcrumb-item">
						<a class='text-decoration-none fw-medium' href="{{path('app_category_show', {'url': link.url})}}">{{link.name}}</a>
					</li>
				{% endfor %}
				<li class="breadcrumb-item active" aria-current='page'>{{product.name}}</li>
			</ol>
		</nav>

		{# heading #}
		<div class="d-flex align-items-center my-2">
			<a class='d-flex p-2 text-decoration-none' href="{{path('app_category_show', {'url': product.category.url})}}">
				<span class="material-symbols-outlined fs-1">
					arrow_back
				</span>
			</a>
			<h1 class='m-0 fw-normal'>{{product.brand}}
				{{product.name}}</h1>
		</div>

		{# Product #}
		<div
			class="d-flex flex-column flex-md-row gap-4 align-items-center align-items-md-start mt-3 px-2">
			{# image #}
			<div class="col-12 col-md-4 order-1">
				<img class='img-fluid' src="https://thumbs.static-thomann.de/thumb/padthumb600x600/pics/bdb/561026/18011037_800.jpg" alt="{{product.name}}">
			</div>

			{# Description #}
			<div class="flex-fill order-3 order-md-2">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis temporibus distinctio eos tempore quo minima atque eius, cum obcaecati possimus consequuntur ex neque aut dignissimos facere! Enim quas maiores neque.</p>
			</div>

			{# cart form #}
			<form class='col-12 col-md-3 d-flex flex-column align-items-md-center border rounded-4 p-3 gap-2 gap-md-3 order-2 order-md-3 bg-light' method='POST' action="{{path('app_cart_add_item')}}">
				<span class='fs-1 fw-bold'>{{product.price}}€</span>
				<span class="fw-light text-success">Disponible</span>
				<div class="col-12 d-flex align-items-center">
					<label class='form-label pe-3 m-0' for="quantity">Quantité:</label>
					<select class='form-control text-end' name="quantity">
						{% for i in 1..100 %}
							<option value="{{i}}">{{i}}</option>
						{% endfor %}
					</select>
				</div>
				<input type="hidden" name="id" value='{{product.id}}'>
				<input class='col-12 btn btn-accent rounded-pill' type="submit" value="Ajouter au panier">
			</form>
		</div>

		{# botbar cart form small device #}
		<form action="{{path('app_cart_add_item')}}" method="POST" class='d-flex d-md-none p-2 bg-primary sticky-bottom'>
			<input type="hidden" name="id" value='{{product.id}}'>
			<input type="hidden" name="quantity" value='1'>
			<input class='btn btn-accent col-12 rounded-pill' type="submit" value="Ajouter au panier">
		</form>
	</div>
</div>{% endblock %}
