{% extends 'base.html.twig' %}

{% block title %}
	VillageGreen - Vos informations personnelles
{% endblock %}

{% block body %}
	<div
		class="container-xxl p-0">

		{# Breadcumbs for medium device #}
		<nav class='d-none d-md-block' aria-label="breadcrumb">
			<ol class="breadcrumb my-2">
				<li class="breadcrumb-item">
					<a class='p-2' href="{{path('app_home')}}">
						<span class="material-symbols-outlined">
							home
						</span>
					</a>
				</li>
				<li class="breadcrumb-item">
					<a class='text-decoration-none fw-medium' href="{{path('app_user')}}">Votre compte</a>
				</li>
				<li class="breadcrumb-item active" aria-current='page'>Vos informations personnelles</li>
			</ol>
		</nav>

		{# heading #}
		<div class="d-flex align-items-center gap-2 my-2">
			<a class='d-flex p-2 text-decoration-none' href="{{path('app_user')}}">
				<span class="material-symbols-outlined fs-1">
					arrow_back
				</span>
			</a>
			<h1 class='m-0 fw-normal'>Vos informations personnelles</h1>
		</div>

		<div
			class="row row-cols-1 row-cols-md-2 g-3 m-0">

			{# coordonnées #}
			<div class="col mt-0 mt-md-2">
				<h2 class='fw-normal'>Vos coordonnées</h2>

				<ul class="list-group">
					<li class="list-group-item d-flex align-items-center justify-content-between gap-3 pe-2">
						<span class="material-symbols-outlined  text-primary">
							alternate_email
						</span>
						<div class='flex-fill'>
							<h6 class='d-block mb-0'>
								E-mail
							</h6>
							<small class='d-block'>
								{{user.email}}
							</small>
						</div>
						<a class='d-flex text-decoration-none' href="{{path('app_user_edit')}}">
							<span class='material-symbols-outlined p-2'>
								edit
							</span>
						</a>
					</li>
					<li class="list-group-item d-flex align-items-center justify-content-between gap-3 pe-2">
						<span class="material-symbols-outlined text-primary">
							password
						</span>
						<div class='flex-fill'>
							<h6 class='d-block mb-0'>
								Mot de passe
							</h6>
							<small class='d-block'>
								******
							</small>
						</div>
						<a class='d-flex text-decoration-none' href="{{path('app_user_edit')}}">
							<span class='material-symbols-outlined text-primary p-2'>
								edit
							</span>
						</a>
					</li>
					<li class="list-group-item d-flex align-items-center justify-content-between gap-3 pe-2">
						<span class="material-symbols-outlined text-primary">
							account_circle
						</span>
						<div class='flex-fill'>
							<h6 class='d-block mb-0'>
								Prénom
							</h6>
							<small class='d-block'>
								{% if user.firstname %}
									{{user.firstname}}
								{% else %}
									Non renseigné
								{% endif %}
							</small>
						</div>
						<a class='d-flex text-decoration-none' href="{{path('app_user_edit')}}">
							<span class='material-symbols-outlined text-primary p-2'>
								edit
							</span>
						</a>
					</li>
					<li class="list-group-item d-flex align-items-center justify-content-between gap-3 pe-2">
						<span class="material-symbols-outlined text-primary">
							account_circle
						</span>
						<div class='flex-fill'>
							<h6 class='d-block mb-0'>
								Nom
							</h6>
							<small class='d-block'>
								{% if user.lastname %}
									{{user.lastname}}
								{% else %}
									Non renseigné
								{% endif %}
							</small>
						</div>
						<a class='d-flex text-decoration-none' href="{{path('app_user_edit')}}">
							<span class='material-symbols-outlined text-primary p-2'>
								edit
							</span>
						</a>
					</li>
					<li class="list-group-item d-flex align-items-center justify-content-between gap-3 pe-2">
						<span class="material-symbols-outlined text-primary">
							call
						</span>
						<div class='flex-fill'>
							<h6 class='d-block mb-0'>
								Téléphone
							</h6>
							<small class='d-block'>
								{% if user.phone %}
									{{user.phone}}
								{% else %}
									Non renseigné
								{% endif %}
							</small>
						</div>
						<a class='d-flex text-decoration-none' href="{{path('app_user_edit')}}">
							<span class='material-symbols-outlined text-primary p-2'>
								edit
							</span>
						</a>
					</li>
				</ul>
			</div>

			{# address #}
			<div class="col mt-3 mt-md-2">
				<h2 class='fw-normal'>Vos adresses</h2>
				<ul class="list-group">
					{% for address in user.addresses  %}
						<li class="list-group-item d-flex align-items-center justify-content-between gap-3 pe-2">
							<span class="material-symbols-outlined text-primary">
								home
							</span>
							<div class='flex-fill'>
								<h6 class='d-block mb-0'>
									{{address.fullname}}
								</h6>
								<small class='d-block'>
									{{address.line}}
									{{address.street}},
									{{address.zipcode}}
									{{address.city}},
									{{address.country}}
								</small>
								<small>tel :
									{{address.phone}}</small>
							</div>
							<a class='d-flex text-decoration-none' href="{{path('app_address_edit', {'id': address.id})}}">
								<span class="material-symbols-outlined text-primary p-2">
									edit
								</span>
							</a>
						</li>
					{% endfor %}
					<li class="list-group-item d-flex align-items-center gap-3 pe-2">
						<span class="material-symbols-outlined text-primary">
							add
						</span>
						<a class='p-2' href="{{path('app_address_new')}}">Ajouter une nouvelle adresse</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
{% endblock %}
